---
- name: Install UFW
  apt:
    name: ufw
    state: present

- name: Allow SSH connections
  ufw:
    rule: allow
    name: OpenSSH

- name: Enable UFW
  ufw:
    state: enabled

- name: Install Fail2Ban
  apt:
    name: fail2ban
    state: present

- name: Ensure Fail2Ban is running
  service:
    name: fail2ban
    state: started
    enabled: yes

- name: Harden SSH configuration
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    validate: 'sshd -t -f %s'
  with_items:
    - { regexp: '^PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^PasswordAuthentication', line: 'PasswordAuthentication no' }
  notify: restart ssh
