---
- name: Install UFW firewall
  ansible.builtin.apt:
    name: ufw
    state: present

- name: Allow SSH connections through UFW
  community.general.ufw:
    rule: allow
    name: OpenSSH

- name: Enable UFW firewall
  community.general.ufw:
    state: enabled

- name: Install Fail2Ban
  ansible.builtin.apt:
    name: fail2ban
    state: present

- name: Ensure Fail2Ban service is running
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true

- name: Harden SSH configuration
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    validate: 'sshd -t -f %s'
  loop:
    - { regexp: '^PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^PasswordAuthentication', line: 'PasswordAuthentication no' }
  notify: Restart ssh
